/*

   FONT IMPORTS

*/


@font-face {
    font-family: 'Brandon Regular';
    src: url('../fonts/Brandon_reg.otf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf');
}


@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}


@font-face {
    font-family:  'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

