/*
 PARMAIS CUSTOM BOX-SHADOW
 */

.p-shadow-8 { box-shadow: 0px 0px 8px 0px rgba(184,184,184,1); }


@media (--breakpoint-not-small) {
  .p-shadow-8-ns { box-shadow: 0px 0px 8px 0px rgba(184,184,184,1); }

}

@media (--breakpoint-medium) {
  p-shadow-8-m { box-shadow: 0px 0px 8px 0px rgba(184,184,184,1); }

}

@media (--breakpoint-large) {
  .p-shadow-8-l { box-shadow: 0px 0px 8px 0px rgba(184,184,184,1); }

}
