

/*Parmais Custom Button Style */

/* Normal*/
.input-border{
    border: 1px solid var(--gray-04);
    outline: 0;
}

/* Focus*/

.input-border:focus{
    border: 1px solid var(--cottoncandy-01);
    outline: 0;
}

/* Disabled*/

.input-border-disabled{
    border: 1px solid var(--gray-04);
    outline: 0;
}

/* Error*/

.input-border-error{
    border: 1px solid var(--kitkat-01);
    outline: 0;
}

.input-text-indent-12{
    outline: 0;
    text-indent:12px
}

.input-placeholder::placeholder {
    color: var(--gray-05);
}

.input-money-sign::before{
    content: "R$";
    font-family: "Roboto Regular";
    position: relative;
    top: 15px;
    left: 12px;
    color: var(--gray-02);
}

.form-blueberry .input-border:focus {
  border: 1px solid var(--blueberry-01);
  outline: 0;
}
/*Parmais Custom Button Style */

.form-cottoncandy .input-border:focus{
  border: 1px solid var(--cottoncandy-01);
  outline: 0;
}
