

/*Parmais Custom Button Style */

/************** FERN *************************/

/* Primary button*/

.pallete-fern.button-primary-background{
    background: var(--fern-01);
}
.pallete-fern.button-primary-background:hover{
    background: var(--fern-02);
}

/* Secondary button*/
.pallete-fern.button-secondary-background{
}
.pallete-fern.button-secondary-background:hover{
    background: var(--fern-02);
}

.pallete-fern.button-secondary-border{
   border: solid 1px var(--fern-01);
}
.pallete-fern.button-secondary-border:hover{
    border: solid 1px var(--fern-02);
}

.pallete-fern.button-secondary-color{
    color: var(--fern-01);
}
.pallete-fern.button-secondary-color:hover{
    color: var(--white);
}

/************** BLUEBERRY ********************/

/* Primary button*/

.pallete-blueberry.button-primary-background{
    background: var(--blueberry-01);
}
.pallete-blueberry.button-primary-background:hover{
    background: var(--blueberry-02);
}

/* Secondary button*/
.pallete-blueberry.button-secondary-background{
}
.pallete-blueberry.button-secondary-background:hover{
    background: var(--blueberry-02);
}

.pallete-blueberry.button-secondary-border{
   border: solid 1px var(--blueberry-01)
}
.pallete-blueberry.button-secondary-border:hover{
    border: solid 1px var(--blueberry-02)
}

.pallete-blueberry.button-secondary-color{
    color: var(--blueberry-01);
}
.pallete-blueberry.button-secondary-color:hover{
    color: var(--white);
}


/************** COTTONCANDY ******************/

/* Primary button*/

.pallete-cottoncandy.button-primary-background{
    background: var(--cottoncandy-01);
}
.pallete-cottoncandy.button-primary-background:hover{
    background: var(--cottoncandy-02);
}

/* Secondary button*/
.pallete-cottoncandy.button-secondary-background{
}
.pallete-cottoncandy.button-secondary-background:hover{
    background: var(--cottoncandy-02);
}

.pallete-cottoncandy.button-secondary-border{
   border: solid 1px var(--cottoncandy-01)
}
.pallete-cottoncandy.button-secondary-border:hover{
    border: solid 1px var(--cottoncandy-02)
}

.pallete-cottoncandy.button-secondary-color{
    color: var(--cottoncandy-01);
}
.pallete-cottoncandy.button-secondary-color:hover{
    color: var(--white);
}

/* Disabled button*/
.button-disabled-background{
    background: var(--gray-07);
}
