

/*Parmais Custom placeholder styles */

.placeholder::placeholder {
    color: var(--gray-05);
    text-indent: 12px;
}

.placeholder::-webkit-input-placeholder {
  color: var(--gray-05);
  text-indent: 12px;
}

.placeholder::-moz-placeholder {
  color: var(--gray-05);
  text-indent: 12px;
}

.placeholder::-ms-input-placeholder {
  color: var(--gray-05);
  text-indent: 12px;
}

.placeholder:placeholder {
    color: var(--gray-05);
    text-indent: 12px;
}

.placeholder:-webkit-input-placeholder {
  color: var(--gray-05);
  text-indent: 12px;
}

.placeholder:-moz-placeholder {
  color: var(--gray-05);
  text-indent: 12px;
}

.placeholder:-ms-input-placeholder {
  color: var(--gray-05);
  text-indent: 12px;
}

.text-indent{
    text-indent: 12px;
}
