/*Parmais Custom Type style */



.p-link{
  cursor: pointer;
  font-family: "Roboto Regular";
  font-size: 12px;
  color: var(--cottoncandy-01 );
}

.p-link:hover{
  cursor: pointer;
  font-family: "Roboto Regular";
  font-size: 12px;
  color: var(--cottoncandy-02 );
}